.blog-feed-2 .cat-list p {
    display: inline-block;
    margin-bottom: 0px;
    padding-right: 20px;
    padding-top:10px;
}
.blog-feed-2 .cat-list button {
    margin-top: 2px;
    margin-bottom: 2px;
}
.blog-feed-2 .filter-tiles {
    display: contents;
    width: 100%;
}
.blog-feed-2 .content-padding {
    padding: 0px 20px 60px 20px;
}
.blog-feed-2 .negative-margin {
    margin: 0px -20px;
}
.blog-feed-2 .content-padding a {
    text-decoration: none;
    color: unset;
}
.blog-feed-2 .content-padding p.accent-text {
    color: #7F7F7F;
}
.blog-feed-2 .content-padding .image-16by9 {
    padding-bottom: 66.127%;
}
.blog-feed-2 #load-more-feed {
    margin: 0px;
}
.blog-feed-2 .single-post .negative-margin {
    margin-bottom: -60px;
}
.blog-feed-2 .single-post p.h2style {
    margin-bottom: 20px;
}
@media(max-width: 1199.98px){
    .blog-feed-2 .content-padding {
        padding: 0px 15px 50px 15px;
    }
    .blog-feed-2 .negative-margin {
        margin: 0px -15px -50px -15px;
    }
    .blog-feed-2 .single-post .negative-margin {
        margin-bottom: -50px;
    }
}
@media(max-width: 991.98px){
    .blog-feed-2 .content-padding {
        padding: 0px 15px 40px 15px;
    }
    .blog-feed-2 .negative-margin {
        margin: 0px -15px -40px -15px;
    }
    .blog-feed-2 .single-post .negative-margin {
        margin-bottom: -40px;
    }
}

@media(max-width: 767.98px){
    .blog-feed-2 .content-padding {
        padding: 0px 10px 30px 10px;
    }
    .blog-feed-2 .negative-margin {
        margin: 0px -10px -30px -10px;
    }
    .blog-feed-2 .single-post .negative-margin {
        margin-bottom: -30px;
    }
}
@media(max-width: 575.98px){
    .blog-feed-2 .single-post p.h2style {
        text-align: left!important;
    }
}

/*Loader Icon*/
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #a58255;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}
.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}
.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}
.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}
.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}
.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}
.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}
.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}
.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}
.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}
.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}
.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}
@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

